tensorflow==1.13.1
torch==1.1.0
Keras==2.2.4
sklearn==0.0
tflearn==0.3.2
nltk==3.4.5
gensim==3.4.0
fasttext==0.8.3
glove_python==0.1.0
python-crfsuite==0.9.6
wordcloud==1.6.0
pandas==0.24.2
selenium==3.141.0
PyQuery==1.4.0
bs4==0.0.1
emoji==0.5.2
matplotlib==3.1.1
plotly==2.0.11
msgpack==0.6.1
pytest==5.0.1
textacy==0.10.0
polyglot==16.7.4